@import url('https://fonts.googleapis.com/css?family=Outfit:wght@100..900&display=swap');
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Outfit; */
}
body{
  min-height: 100vh;
  /* background-color:  rgb(233, 197, 156); */
  background-color: rgb(6, 37, 6);
 

}
a{
  
  color:  rgb(243, 76, 76);
}
/* .app{
  width: 80%;
  margin: auto;
} */
/* @keyframes fadeIn {
  0%{
    opacity: 0;
  } 
  100%{
    opacity: 1;
  }
} */
/* HomePage.css */


